@{
    ViewData["Title"] = "Message me!";
}

<div class="text-center">
    <h1 class="display-4">Envie uma mensagem</h1>
    <form action="/SendMessage/SaveMessage/@ViewBag.EncryptedEmail" method="post">
        <input type="hidden" name="encryptedEmail" value="{encryptedEmail}" />
        <p>
            <input type="text" name="Name" id="name" placeholder="Name" />
        </p>
        <p>
            <input type="email" name="Email" id="email" placeholder="E-mail" />
        </p>
        <p>
            <textarea name="Message" rows="5" cols="40" placeholder="Digite sua mensagem."></textarea>
        </p>
        <input type="submit" name="send" id="send" value="Send" />

    </form>

</div>
