@{
    ViewData["Title"] = "Message me!";
}

<div class="text-center">
    <h1 class="display-4">Envie uma Message</h1>
    <form action="/Home/SaveMessage" method="post">
        <p>
            <input type="text" name="Name" id="name" placeholder="Name" />
        </p>
        <p>
            <input type="email" name="Email" id="email" placeholder="E-mail" />
        </p>
        <p>
            <textarea name="Message" rows="5" cols="40" placeholder="Digite sua Message."></textarea>
        </p>
        <input type="submit" name="enviar" id="enviar" value="Enviar" />

    </form>
</div>
