@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Envie uma mensagem</h1>
    <form action="/" method="post">
        <p>
            <input type="text" name="name" id="name" placeholder="Nome"/>
        </p>
        <p>
            <input type="email" name="email" id="email" placeholder="E-mail" />
        </p>
        <p>
            <textarea name="mensgem" rows="5" cols="40" placeholder="Digite sua mensagem."></textarea>
        </p>
        <input type="submit" name="enviar" id="enviar" value="Enviar" />

    </form>
</div>
