@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Receive messages</h1>
    <p>Send your personal URL to your contacts and receive their messages on your e-mail!</p>
    <button asp-action="Index" asp-controller="Login">Start receiving messages</button>

</div>
