@model FormContato.DTOs.ProfileDTO

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Dashboard/DashboardLayout.cshtml";
}

<h1>Profile</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<form asp-action="Edit" asp-controller="User" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="Name" value="@Model.Name" />
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="LastName" value="@Model.LastName" />
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" name="Email" value="@Model.Email" />
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="Password" value="12345678" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button><br />
    </form>
    <a asp-action="DeleteUser" asp-controller="User" class="delete" onclick="return confirm('Are you sure you want to delete this profile?');">Delete profile</a>


